.app-message {
  position: fixed;
  top: 5%;
  right: 0;
  transform: translate(100%, 5%);
  height: 5rem;
  width: 20rem;
  background: linear-gradient(
    to top left,
    rgb(236, 227, 194) 70%,
    rgba(248, 219, 98)
  );
  z-index: 99;
  display: none;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-message--active {
  display: flex;
  animation: slideIn 1.6s ease-in-out;
}

@keyframes slideIn {
  0% {
  }
  20% {
    transform: translate(-30%, 5%);
  }
  25% {
    transform: translate(-25%, 5%);
  }
  78% {
    transform: translate(-25%, 5%);
  }
  83% {
    transform: translate(-28%, 5%);
  }
  100% {
    transform: translate(100%, 5%);
  }
}

/* COOKIES */

.cookie {
  height: 6rem;
  transform: translateY(150%);
  opacity: 0;
  visibility: hidden;
  /* transition:  all 1s ease-in-out; */
  display: flex;
}

.cookie-visible {
  animation: cookieSlideIn 1.5s ease-in-out;
  transform: translateY(0%);
  opacity: 100;
  visibility: visible;
}

@keyframes cookieSlideIn {
  0% {
    visibility: visible;
    opacity: 100;
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cookie__btn {
  background-color: white;
  height: 2rem;
  width: 4rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 3px;
}

.cookie__btn:active {
  transform: translateY(1px);
}

/* .ok-ref{
    left: 50%;
    transform: translate(-49%, -50%);
    z-index: 999;
    animation: fadeWhite 22s linear;
  }

  .ok-ref-still{
    top: 4rem !important;
    left: 50% !important;
  }

  .ok-ref-still:active{
    transform: translate(-49%, -46%);
  } */
